
body{
    text-align: center;
    background-color:#6E8E59 ;
}
.btn{
    height: 200px;
    width: 200px;
    border-radius:  20%;
    border: 10px solid black;
    margin: 2rem;

}
.btn-container{
    display: flex; 
    justify-content: center;
}
.yellow{
    background-color: #ffd58b;
}
.red{
    background-color: #F47174;

}
.purple{
    background-color: #AF8FE9;
}
.green{
    background-color: #6EC175 ;
}

.flash{
    background-color: white;
}

.userflash{
    background-color: green;
}